/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Common shared Styles */

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 1px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.section-title {
    font-size: 2.8rem;
    color: #131313;
    max-width: 29.25rem;
}

.text-light-gray {
    color: #727272;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #424242;
}

/* Banner Style */
.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-content {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main style */
main {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 85px;
}

/* Teams style */
.teams-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}



.team-title {
    color: #727272;
    font-weight: 700;
}

.feature-style {
    color: #FF900E;
    font-weight: 700;
}

/* Feature style */


/* Facts style */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.facts-card-container .cards {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2px;
}

.fact-title {
    margin-bottom: 5px;
}

.fact-description {
    font-weight: 400;
    line-height: 26px;
    max-width: 50%;
    margin-top: 0;
}

/* sponsors */
.sponsor-container {
    text-align: center;
    margin-top: 180px;
}

.sponsor-container .section-title {
    margin: 0 auto;
}

.sponsor-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.sponsor-img img {
    width: 165px;
}

/* footer */
.footer-container {
    margin: 130px 240px;
    border-radius: 8px;
    background: #FFF4E7;
    height: 100px;
    text-align: center;
    padding: 39px;
}



/* Responsive design */
/* mobile device */
@media screen and (max-width: 576px) {

    header,
    main,
    .facts-card-container,
    .sponsor-container {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container {
        flex-direction: column;
    }

    .banner img {
        width: 100%;
    }

    .teams-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-container {
        align-items: center;
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsor-img img {
        width: 60px;
    }
}

/* tablet device */
@media screen and (min-width:576px) and (max-width: 960px) {

    header,
    main,
    .facts-container {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img {
        grid-template-columns: repeat(2 1fr);
    }

    .teams-img img {
        width: 250px;
    }

    .teams-content {
        padding-left: 4.40rem;
        padding-right: 1.875rem;
    }

    .facts-card-container {
        gap: 10px;
    }

    .sponsor-img img {
        width: 90px;
    }
}